<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Check</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<body>
<div class="col-md-6">
	<h1>사업자등록 상태조회</h1>
	<form action="/check" method="post">
		사업자번호 <input type="text" id="bNo" name="bNo" placeholder="사업자번호를 입력하세요"><br><br>
		<button type="submit">확인</button> <button type="reset">취소</button>
	</form><br>
	
	<a href="/">돌아가기</a>
</div>
</body>
</html>