<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Doctor LIST</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<body>
<div class="col-md-6">
<h1>의사 목록</h1>
	<table width="600">
	  <thead>
	  <tr>
	    <th>아이디</th>
	    <th>비밀번호</th>
	    <th>핸드폰번호</th>
	    <th>사업자번호</th>
	  </tr>
	  </thead>
	  <tbody>
	  <tr th:each="doctor : ${doctors}">
	    <td th:text="${doctor.id}"></td>
	    <td th:text="${doctor.password}"></td>
	    <td th:text="${doctor.phoneNumber}"></td>
	    <td th:text="${doctor.buisnessNumber}"></td>
	  </tr>
	  </tbody>
	</table><br>
	
	<a href="/">돌아가기</a>
</div>
</body>
</html>