<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Doctor Join</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<style>
    .error {
        color: red;
        }
</style>
</head>
<body>
<div class="col-md-6">
	<h1>회원 가입</h1><br>
	<form th:action="@{/doctor/new}" th:object="${doctorForm}" method="post">
		아이디 <input type="text" id="id" th:field="*{id}" placeholder="아이디를 입력하세요">
			 <span class="error" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
			 <span th:text="${errorMessage}"></span><br>
		비밀번호 <input type="text" id="password" th:field="*{password}" placeholder="비밀번호 입력하세요">
			  <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br>
		핸드폰번호 <input type="text" id="phoneNumber" th:field="*{phoneNumber}" placeholder="핸드폰번호를 입력하세요">
				<span class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span><br>
		사업자번호 <input type="text" id="buisnessNumber" th:field="*{buisnessNumber}" placeholder="사업자번호를 입력하세요">
				<span class="error" th:if="${#fields.hasErrors('buisnessNumber')}" th:errors="*{buisnessNumber}"></span><br><br>
		
		<button type="submit">가입하기</button> <button type="reset">취소</button>
	</form><br>
	
	<a href="/">돌아가기</a>
</div>
</body>
</html>