<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="col-md-6">
	<h1>회원 가입</h1>
	<form action="/doctor/new" th:object="${joinForm}" method="post">
		아이디 <input type="text" th:field="*{id}" placeholder="이름을 입력하세요"><br>
		비밀번호 <input type="text" th:field="*{password}" placeholder="나이를 입력하세요"><br>
		핸드폰번호 <input type="text" th:field="*{phoneNumber}" placeholder="핸드폰번호를 입력하세요"><br>
		사업자번호 <input type="text" th:field="*{buisinessNumber}" placeholder="사업자번호를 입력하세요"><br><br>
		
		<button type="submit">가입하기</button> <button type="reset">취소</button>
	</form><br>
	
	<a href="/">돌아가기</a>
</div>
</body>
</html>