<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<style>
    .error {
        color: red;
        }
</style>
</head>
<body>
<div class="col-md-6">
<h3>문자 인증</h3>
	<form th:action="@{/doctor/sms}" th:object="${pNo}" method="post">
	휴대폰 번호 <input type="text" id="pNo" th:field="*{pNo}"/> 
	<button type="submit">인증 번호 전송</button>
	<span class="error" th:if="${#fields.hasErrors('pNo')}" th:errors="*{pNo}"></span>
	<span class="error" th:text="${errorMessage}"></span><br>
	</form>
</div>
</body>
</html>